* text=auto !eol
/.project -text svneol=unset#text/plain
/AndroidManifest.xml -text
assets/30-39/female/pushups.properties -text
assets/30-39/female/run.properties -text
assets/30-39/female/situps.properties -text
assets/30-39/female/waist.properties -text
assets/30-39/female/walk.properties -text svneol=unset#text/plain
assets/30-39/male/pushups.properties -text
assets/30-39/male/run.properties -text
assets/30-39/male/situps.properties -text
assets/30-39/male/waist.properties -text
assets/30-39/male/walk.properties -text svneol=unset#text/plain
assets/40-49/female/pushups.properties -text
assets/40-49/female/run.properties -text
assets/40-49/female/situps.properties -text
assets/40-49/female/waist.properties -text
assets/40-49/female/walk.properties -text svneol=unset#text/plain
assets/40-49/male/pushups.properties -text
assets/40-49/male/run.properties -text
assets/40-49/male/situps.properties -text
assets/40-49/male/waist.properties -text
assets/40-49/male/walk.properties -text svneol=unset#text/plain
assets/50-59/female/pushups.properties -text
assets/50-59/female/run.properties -text
assets/50-59/female/situps.properties -text
assets/50-59/female/waist.properties -text
assets/50-59/female/walk.properties -text svneol=unset#text/plain
assets/50-59/male/pushups.properties -text
assets/50-59/male/run.properties -text
assets/50-59/male/situps.properties -text
assets/50-59/male/waist.properties -text
assets/50-59/male/walk.properties -text svneol=unset#text/plain
assets/60+/female/pushups.properties -text
assets/60+/female/run.properties -text
assets/60+/female/situps.properties -text
assets/60+/female/waist.properties -text
assets/60+/female/walk.properties -text svneol=unset#text/plain
assets/60+/male/pushups.properties -text
assets/60+/male/run.properties -text
assets/60+/male/situps.properties -text
assets/60+/male/waist.properties -text
assets/60+/male/walk.properties -text svneol=unset#text/plain
assets/under30/female/pushups.properties -text
assets/under30/female/run.properties -text
assets/under30/female/situps.properties -text
assets/under30/female/waist.properties -text
assets/under30/female/walk.properties -text svneol=unset#text/plain
assets/under30/male/pushups.properties -text
assets/under30/male/run.properties -text
assets/under30/male/situps.properties -text
assets/under30/male/waist.properties -text
assets/under30/male/walk.properties -text svneol=unset#text/plain
libs/GoogleAdMobAdsSdk-6.1.0.jar -text
libs/libGoogleAnalyticsV2.jar -text
/proguard-project.txt -text svneol=unset#text/plain
/project.properties -text svneol=unset#text/plain
res/drawable-hdpi/timepicker_down_disabled.9.png -text
res/drawable-hdpi/timepicker_down_disabled_focused.9.png -text
res/drawable-hdpi/timepicker_down_normal.9.png -text
res/drawable-hdpi/timepicker_down_pressed.9.png -text
res/drawable-hdpi/timepicker_down_selected.9.png -text
res/drawable-hdpi/timepicker_input_disabled.9.png -text
res/drawable-hdpi/timepicker_input_normal.9.png -text
res/drawable-hdpi/timepicker_input_pressed.9.png -text
res/drawable-hdpi/timepicker_input_selected.9.png -text
res/drawable-hdpi/timepicker_up_disabled.9.png -text
res/drawable-hdpi/timepicker_up_disabled_focused.9.png -text
res/drawable-hdpi/timepicker_up_normal.9.png -text
res/drawable-hdpi/timepicker_up_pressed.9.png -text
res/drawable-hdpi/timepicker_up_selected.9.png -text
res/drawable-mdpi/icon.png -text
res/drawable-mdpi/timepicker_down_btn.xml -text
res/drawable-mdpi/timepicker_down_disabled.9.png -text
res/drawable-mdpi/timepicker_down_disabled_focused.9.png -text
res/drawable-mdpi/timepicker_down_normal.9.png -text
res/drawable-mdpi/timepicker_down_pressed.9.png -text
res/drawable-mdpi/timepicker_down_selected.9.png -text
res/drawable-mdpi/timepicker_input.xml -text
res/drawable-mdpi/timepicker_input_disabled.9.png -text
res/drawable-mdpi/timepicker_input_normal.9.png -text
res/drawable-mdpi/timepicker_input_pressed.9.png -text
res/drawable-mdpi/timepicker_input_selected.9.png -text
res/drawable-mdpi/timepicker_up_btn.xml -text
res/drawable-mdpi/timepicker_up_disabled.9.png -text
res/drawable-mdpi/timepicker_up_disabled_focused.9.png -text
res/drawable-mdpi/timepicker_up_normal.9.png -text
res/drawable-mdpi/timepicker_up_pressed.9.png -text
res/drawable-mdpi/timepicker_up_selected.9.png -text
res/layout/aficharts_dialog.xml -text svneol=unset#text/plain
res/layout/minimum_maximum_dialog.xml -text
res/layout/number_dialog.xml -text
res/layout/number_picker.xml -text
res/layout/overall_score_dialog.xml -text
res/layout/pfa_footer.xml -text
res/layout/pfa_header_ads.xml -text
res/layout/pfa_list_view.xml -text
res/layout/pfa_row_view.xml -text
res/layout/run_dialog.xml -text
res/layout/waist_dialog.xml -text
res/menu/pfa_calculator.xml -text
res/values-v11/styles.xml -text svneol=unset#text/plain
res/values-v14/styles.xml -text svneol=unset#text/plain
res/values/array.xml -text svneol=unset#text/plain
res/values/attrs.xml -text
res/values/strings.xml -text
res/values/styles.xml -text svneol=unset#text/plain
res/xml/preferences.xml -text svneol=unset#text/plain
src/com/rwoar/pfacalculator/CalculatorVO.java -text
src/com/rwoar/pfacalculator/PFACalculator.java -text
src/com/rwoar/pfacalculator/PFAUtils.java -text svneol=unset#text/plain
src/com/rwoar/pfacalculator/Preferences.java -text svneol=unset#text/plain
src/com/rwoar/pfacalculator/ScoreCalculator.java -text
src/com/rwoar/pfacalculator/widget/NumberPicker.java -text
src/com/rwoar/pfacalculator/widget/NumberPickerButton.java -text
